/* BEGIN SETUP (you will not need to use these) */
#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: medium;
  font-weight: 200;
}
/* END SETUP */

/* Classes that you might find useful */
/* You may also have to implement your own classes */

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  height: calc(100% / 3);
}

.threehoriz {
  width: calc(100% / 3);
}

.narrow {
  height: 17.5%;
}

.wide {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Poland */

/* .white.twovert {
  background-color: white;
}

.red.twovert {
  background-color: red;
} */

/* Colors */

/* QUESTION 1 */

.red {
  background-color: red;
}

#white {
  background-color: white;
}

.light-blue {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

/* BEGIN QUESTION 2 */

.thailand-red {
  /* TODO */
  height: calc(100% / 6);
  background-color: #B5002D;
}

.thailand-white {
  /* TODO */
  height: calc(100% / 6);
  background-color: white;
}

.thailand-blue {
  /* TODO */
  height: calc(100% / 3);
  background-color: #2E2A4C;
}

/* END QUESTION 2 */

/* BEGIN QUESTION 3 */

.romania-blue.threehoriz {
  background-color: #002c84;
}

.romania-yellow.threehoriz {
  background-color: #ffcf00;
}

.romania-red.threehoriz {
  background-color: #e10017;
}

/* END QUESTION 3 */

/* QUESTION 4 */
.mexico-green.threehoriz {
  background-color: #006341;
}

.image {
  display: flex;
  align-self: center;
  justify-content: center;
}

.eagle{
  max-height: 80%;
  max-width: 80%;
}

.mexico-red.threehoriz {
  background-color: #ce1126;
}

/* QUESTION 5 */
.label {
  color: brown;
  transition: font-size 1s ease-out 100ms, color 1s ease-out 100ms;
}

.label.po:hover {
  color: #e10017;
  font-size: 20px;
}

.label.lux:hover {
  color: blueviolet;
  font-size: 20px;
}

.label.thai:hover {
  color: blue;
  font-size: 20px;
}

.label.rom:hover {
  color: orange;
  font-size: 20px;
}

.label.mex:hover {
  color: green;
  font-size: 20px;
}

/* QUESTION 6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

/* For margin practice */
.margin-container .flag:first-child {
  background-color: red;
  /* TODO */
  margin-right: 5px;
}

.margin-container .flag:last-child {
  background-color: blue;
  /* TODO */
  margin-left: 5px;
}
/* For padding practice */
.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  background-clip: content-box, padding-box;
  /* TODO */
  padding: 60px;
}
